.inputStyle {
    font-size: 20px;
    width: 20%;
    padding: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.inputStyle:focus {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}


.cursorPointer {
    cursor: pointer;
}