.inputStyle {
    font-size: 20px;
    padding: 5px;
    margin-right: 50px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.inputStyle:focus {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}


.cursorPointer {
    cursor: pointer;
}

.stiky {
    position: sticky;
    top: 350px;
}


@media (max-width: 990px) {

    .stiky {
        margin-bottom: 35px;
    }
}